*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --colorPrimario: dodgerblue;
    --colorSecundario: #193455;
}
body{
  background: #ccc;
}
a{
  text-decoration: none;
  background: var(colorPrimario);
}
.container{
    width: 85%;
    min-width: 497px;
    height: 800px;
    background: #ccc;
    display: grid;
    grid-template-columns: 1.2fr 3fr 1fr;
    grid-template-rows:2fr .5fr 5fr .7fr;
    grid-gap: .9em;
    margin: auto;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.container-2{
  display: grid;
  grid-column: 1/-1;
  grid-row: 3/4;
  grid-template-columns: 1.2fr 3fr 1fr;
  grid-template-rows: 1fr;
}
.container-2 > #tb1, #tb2, #tb3{
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  grid-template-columns: 1.2fr 3fr 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  overflow: hidden;
}


/* .container-2 > div > section{
  display: grid;
  grid-column: 2/-1;
  grid-row: 1;
}
.container-2 > div > aside{
  display: grid;
  grid-column: 1/2;
  grid-row: 1;
} */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/2;
    background: var(--colorPrimario, darkorange);
    font-family: Impact;
}

.header > h1{
    display: inline-block;
    grid-column: 2/3;
    font-size: 50px;
    color: snow;
    /* justify-content: center; */
    align-content: center;
    /* box-shadow: 0 0 8px 0 dodgerblue; */
    margin: auto;
}
.header h1 span{
  color: var(--colorSecundario);
  font-family: Impact;
}
header > #box-img{
  display: grid;
  width: 300px;
  height: 200px;
  grid-column: 1/2;
  grid-row: 1/2;
  /* background: red; */
}
header > #box-img > #logo{
  width: 200px;
  height: 190px;
  margin: 0 auto;
}
#sections{
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/3;
  background: #fff;
}
.main{
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 2/4 !important;
  grid-row: 1;
  min-width: 249px;
  background: #fff;
  box-shadow: 0 0 8px 0 #ccc;
}
.main h2{
  margin-left: 5px;
  padding-bottom: 5px;
}
/* .main div img{
  position: absolute;
  left: 55%;
  top: 26%;
  visibility: hidden;
} */
/* #tab-2 button{
  position: absolute;
  left: 55%;
  padding: 8px;
  background: darkolivegreen;
  color: #fff;
} */

.aside{
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
    min-width: 97px;
    background: #fff;
    color: black;
    box-shadow: 0 0 8px 0 #ccc;
    overflow: auto;
}

.footer{
  display: grid;
  grid-column: 1/-1;
  grid-row: 4/5;
  background: #333;
}

.aside > ul{
    background: #fff;
    clear: left;
}

.resMol{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 75px;
    background: #fff;
    border: 2px solid #007FFF;
    color: #4CAF50;
    font-size: 20px;
}
#form{
  width: 230px;
  padding: 10px;
  /* border: 2px solid #ccc; */
  box-shadow: 0 0 8px 0 #ccc;
  box-sizing: border-box;
}
#form > label, input{
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}
#form > input[type="button"]{
  background: dodgerblue;
  width: 80%;
}
#form > input[type="button"]:hover{
  background: dodgerblue;
  color: snow;
  cursor: pointer;
}
#form > div{
  margin-bottom: 10px;
}
/* #tabs2{
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/3;
  background: forestgreen;
} */
.list-btn > li > a{
  width: 77px;
  text-align: center;
  margin: auto !important;
}
/* @media screen and (min-width: 320px) and (max-width: 414px){

} */
